.masthead {
    height: 50vh;
    min-height: 200px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .card-films{
    width: 14rem;
    margin:14px; 
    border-radius: 20px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
  }
  .card-films img{
    border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 18rem;
  }